body{
    height: 100vh;
    grid-template-columns: 10% 90%;
    grid-template-rows: 90% 10%;
    display: grid;
    margin: 0;
}


.side{
    display: flex;
    flex-direction: column;
    grid-row: 1/3;
    align-items: center;
    background-color: rgb(98, 98, 98);
    border: solid 3px black;
}

.side a{
    text-decoration: none;
    color: white;
}

main{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}

footer{
    grid-column: 2;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}