body{
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}


.side{
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: rgba(20, 20, 20, 0.742);
    border-right: solid 3px rgb(87, 87, 87);
    align-items: center;
    height: 100vh;
    width: 20%;
    transition: .5s;
    transform: translateX(0%);
    z-index: 100;
}

#sidebtn{
    width: 95%;
    display: flex;
    padding-left: 5%;
    color: white;
    background-color: black;
    overflow: hidden;
}

.key{
    margin-right: 10px;
}

.links{
    width: 100%;
    transform: translateX(0%);
    transition: .5s;
}

.links.hide{
    transform: translateX(-100%);
}

.page{
    margin-top: 100px;
    width: 100%;
}

.side a{
    text-decoration: none;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(62, 62, 62);
}

.side a:nth-child(2n){
    background-color: rgb(0, 0, 0);
}

.side #open{
    position: absolute;
    top: 0%;
    right: -27px;
    width: 25px;
    height: 100px;
    cursor: pointer;
    background-color: rgb(65, 65, 65);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.side #open:hover{
    background-color: gray;
    transition: .5s;
}

.side.hide{
    transform: translateX(-100%);
}

main{
    display: flex;
    align-items: center;
    background-color: rgb(20, 20, 20);
    height: 100%;
    flex-direction: column;
}

.hero{
    width: 100%;
    height: 500px;
    position: relative;
}

.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 10px 10px 10px #000;
}

main div ,h2 ,h1{
    color: white;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(43, 43, 43);
    border-radius: 20px;
    margin: 50px;
    width: 80%;
    padding: 20px 20px;
}

.gaiyou{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.left{
    width: 40%;
}

.right{
    width: 40%;
}

.gaiyou img{
    overflow: hidden;
    width: 80%;
    border-radius: 10px;
}

.dev h3{
    text-decoration: underline;
    color: rgb(0, 119, 255);
}

.qanda{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.question{
    cursor: pointer;
    margin-top: 10px;
    width: 250px;
    height: 500px;
    border-radius: 10px;
    border: solid .5px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: .5s;
    align-items: center;
}

.question:hover{
    background-color: gray;
}

.answer{
    margin-top: 20px;
    display: none;
}

.answer.active{
    display: block;
}

.sakuhin{
    flex-direction: column;
    height: 700px;
}

.swiper{
    width: 90%;
    height: 80%;
    border: solid black 2px;
    border-radius: 50px;
}

.swiper-wrapper{
    width: 100%;
    height: 100%;
}

.swiper-slide{
    text-align: center;
}
