* {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.side{
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: rgb(20, 20, 20);
    border-right: solid 3px rgb(87, 87, 87);
    align-items: center;
    height: 100vh;
    width: 20%;
    transition: .5s;
    transform: translateX(0%);
    z-index: 100;

}

#sidebtn{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    overflow: hidden;
    cursor: e-resize;
}

#sidebtn span {
    padding: 1em;
}

.links{
    width: 100%;
    transform: translateX(0%);
    transition: .5s;
}

.linkIdxContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.linkIdx {
    width: 200%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    transform: translateX(0%);
    transition: .5s;
}

.linkIdx.hide{
    transform: translateX(-50%);
}

.page{
    width: 100%;
}

.side a{
    text-decoration: none;
    color: white;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(62, 62, 62);
}

.side a:nth-child(2n){
    background-color: rgb(0, 0, 0);
}

.side #open{
    position: absolute;
    top: 0%;
    right: -27px;
    width: 25px;
    height: 100px;
    cursor: pointer;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.side #open:hover{
    background-color: gray;
    transition: .5s;
}

.side.hide{
    transform: translateX(-100%);
}

main{
    display: flex;
    align-items: center;
    background-color: rgb(62, 62, 62);
    height: 100%;
    flex-direction: column;
}

.hero{
    width: 100%;
    height: 500px;
    position: relative;
}

.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.hero h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

main div ,h2 ,h1{
    color: white;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(40, 40, 40);
    border-radius: 20px;
    margin: 50px 0 50px 0;
    width: 80%;
    padding: 20px 0px;
}

.question{
    cursor: pointer;
    margin-top: 10px;
    width: 90%;
    height: 50px;
    border-radius: 10px;
    border: solid .5px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question:hover{
    background-color: gray;
}

.answer{
    display: none;
    margin-left: 30px;
}

.answer.active{
    display: block;
}

.sakuhin{
    flex-direction: column;
    height: 700px;
}

.swiper{
    width: 90%;
    height: 80%;
    border: solid black 2px;
    border-radius: 50px;
}

.swiper-wrapper{
    width: 100%;
    height: 100%;
}

.swiper-slide{
    text-align: center;
}



/*footer{
    background-color: black;
    olor: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    position: absolute;
    bottom: 0;
}*/