body{
    min-height: 100vh; 
    width: 100%;     
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden; 
}

html{
    scroll-behavior: smooth;
    overflow-y: scroll; 
}

#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 20vw;
    max-width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    z-index: 1000; 

} 

#header-resize {
    position: absolute;
    top: 0;
    right: 0;
    width: 6px;
    height: 100%;
    cursor: ew-resize;
    background-color: gray;
    z-index: 1000;
}
#sidebtn{
    width: 95%;
    display: flex;
    padding-left: 5%;
    color: white;
    background-color: black;
    overflow: hidden;
}

.key{
    margin-right: 10px;
}

.links{
    width: 100%;
    transform: translateX(0%);
    transition: .5s;
}

.links.hide{
    transform: translateX(-100%);
}

.page{
    margin-top: 100px;
    width: 100%;
}

header a{
    text-decoration: none;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(62, 62, 62);
}

header a:nth-child(2n){
    background-color: rgb(0, 0, 0);
}


#main {
  margin-left: 20vw;
  padding-bottom: 15vh; 
  padding-left: 6px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 0; 
}

.hero{
    width: 100%;
    height: 500px;
    position: relative;
}

.hero img{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.hero h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 10px 10px 10px #000;
}

main div ,h2 ,h1{
    color: white;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(43, 43, 43);
    border-radius: 20px;
    margin: 50px;
    width: 80%;
    padding: 20px 20px;
}

.gaiyou{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.left{
    width: 40%;
}

.right{
    width: 40%;
}

.gaiyou img{
    overflow: hidden;
    width: 80%;
    border-radius: 10px;
}

.dev h3{
    text-decoration: underline;
    color: rgb(0, 119, 255);
}

.qanda{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.question{
    cursor: pointer;
    margin-top: 10px;
    width: 250px;
    height: 500px;
    border-radius: 10px;
    border: solid .5px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: .5s;
    align-items: center;
}

.question:hover{
    background-color: gray;
}

.answer{
    margin-top: 20px;
    display: none;
}

.answer.active{
    display: block;
}

.sakuhin{
    flex-direction: column;
    height: 700px; 
}

.swiper{
    width: 100%;
    height: 100%;
    border: solid black 2px;
    border-radius: 50px;
}

.swiper-wrapper{
    width: 100%;
    height: 100%;
}

.swiper-slide{
    text-align: center;
}

footer{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 80vw;
    height: 15vh;         
    max-height: 30vh;
    background: #000000;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

#footer-resize{
    position: absolute;
    top: 0;
    right: 0;
    height: 6px;
    width: 80vw;
    background-color: gray;
    cursor: n-resize;
    z-index: 1000;
}



